{% extends "base.html" %}

{% block headstyles %}
<link href="{{ STATIC_URL }}css/demo_table.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/demo_table_jui.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/map.css" rel="stylesheet">
{% endblock %}

{% block headscripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/simpleinheritance.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/color.js"></script>
<script type="text/javascript">
var MAX_POPULATION_DENSITY = {{ city.max_population_density }};
var MIN_POPULATION_DENSITY = {{ city.min_population_density }};
var CITY_NAME = "{{ city.name }}";
var CITY_SLUG = "{{ city.slug }}";
var fillColor = new Color(0, 128, 0, 1); 

function populationDensityStyle(minPopulationDensity, maxPopulationDensity, minOpacity, maxOpacity, color, numSegments) {
    var style = new OpenLayers.Style();
    var rules = Array();
    var opacityIncrement = (maxOpacity - minOpacity) / numSegments;
    var opacity = minOpacity;

    $.each(makeSegments(MIN_POPULATION_DENSITY, MAX_POPULATION_DENSITY, numSegments), function(index, segment) {
        var rule = new OpenLayers.Rule({
            filter: new OpenLayers.Filter.Comparison({
                type: OpenLayers.Filter.Comparison.GREATER_THAN_OR_EQUAL_TO,
                property: "population_density",
                value: segment[0] 
            }),
            symbolizer: {fillColor: color.toRgb(), fillOpacity: opacity, strokeColor: "black"}
        });
        rules.push(rule);
        opacity += opacityIncrement;
    });

    style.addRules(rules);
    return style;
}

function populationDensityLegend(minPopulationDensity, maxPopulationDensity, minOpacity, maxOpacity, color, numSegments, containerSelector) {
    var opacityIncrement = (maxOpacity - minOpacity) / numSegments;
    var opacity = minOpacity;
    var list = $('<ul/>').appendTo(containerSelector);
    $('<lh/>', {
        text: 'Population per square mile'
    }).appendTo(list);

    $.each(makeSegments(MIN_POPULATION_DENSITY, MAX_POPULATION_DENSITY, numSegments), function(index, segment) {
        var min = segment[0];
        var max = segment[1];
        var item = $('<li/>', {
            text: min + '-' + max
        }).appendTo(containerSelector + ' ul');
        var itemColor = color.clone();
        itemColor.opacity = opacity;
        item.css({'background-color': itemColor.toRgba()});
        opacity += opacityIncrement;
    });
}


$(document).ready(function() {
    function onPopupClose(evt) {
        // 'this' is the popup.
        selectControl.unselect(this.feature);
    }

    function onFeatureSelect(evt) {
        feature = evt.feature;
        popup = new OpenLayers.Popup.FramedCloud("featurePopup",
                                 feature.geometry.getBounds().getCenterLonLat(),
                                 new OpenLayers.Size(100,100),
                                 "<h2>"+feature.attributes.name + "</h2>" +
                                 "Population per square mile: " +
                                 feature.attributes.population_density,
                                 null, true, onPopupClose);
        feature.popup = popup;
        popup.feature = feature;
        map.addPopup(popup);
    }

    function onFeatureUnselect(evt) {
        feature = evt.feature;
        if (feature.popup) {
            popup.feature = null;
            map.removePopup(feature.popup);
            feature.popup.destroy();
            feature.popup = null;
        }
    }

	$('.datatable').dataTable({
		"bJQueryUI": true,
        "sScrollY": "60%",
        "bPaginate": false,
        "bFilter": false,
        "bInfo": false,
        "aaSorting": [[1, 'desc']]
    });

    $('.datatable tr').click(function() {
        var neighborhood_id;
        $.each($(this).attr('class').split(' '), function(index, cls) {
            var match = cls.match(/neighborhood-(\d+)/);
            if (match != null) { 
                neighborhood_id = match[1];
                return;
            }
        });
        // BOOKMARK
    });

    var map = new OpenLayers.Map('city-map-' + CITY_SLUG, {
      projection: new OpenLayers.Projection("EPSG:900913")
    });
    map.addLayer(new OpenLayers.Layer.OSM());
    map.setCenter(new OpenLayers.LonLat(-87.65, 41.85) // Center of the map
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
          ), 2 // Zoom level
        );
    var styleMap = new OpenLayers.StyleMap(populationDensityStyle(
        MIN_POPULATION_DENSITY, MAX_POPULATION_DENSITY,
        0.3, 1, fillColor, 5));
    var geojson = new OpenLayers.Layer.GML("GeoJSON", "neighborhoods.json", {
        projection: new OpenLayers.Projection("EPSG:4326"),
        format: OpenLayers.Format.GeoJSON,
        styleMap: styleMap
    });    
    geojson.events.on({
        "loadend": function() {
            map.zoomToExtent(geojson.getDataExtent());
            populationDensityLegend(MIN_POPULATION_DENSITY, MAX_POPULATION_DENSITY, 0.3, 1, fillColor, 5, '#city-map-legend-{{ city.slug }}');
        },
        "featureselected": onFeatureSelect,
        "featureunselected": onFeatureUnselect
    });
    map.addLayer(geojson); 
    var selectControl = new OpenLayers.Control.SelectFeature(geojson);
    map.addControl(selectControl);
    selectControl.activate();

} );
</script>
{% endblock %}

{% block content %}
<h1>Comparing Population Densities</h1>

<h2>{{ city.name }}</h2>

<div id="city-map-{{ city.slug }}" class="city-map grid_8">
    <div id="city-map-legend-{{ city.slug }}" class="city-map-legend"></div>
</div>

<div class="grid_4">
    <table class="datatable">
        <thead>
            <tr>
                <th>Neighborhood</th>
                <th>Population Density</th>
                <th>Total Population</th>
            </tr>
        <thead>
        <tfoot>
            <tr>
                <td>Median Population Density</td>
                <td colspan="2">{{ city.median_population_density }}</td>
            </tr>
        <tbody>
        {% for n in city.neighborhoods %}
            <tr class="neighborhood-{{ n.id }}">
                <td>{{ n.name }}</td>
                <td>{{ n.population_density }}</td>
                <td>{{ n.total_population }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
