.city-map {
    position: relative;
    width: 100%;
    height: 100%;
}

.city-map .olControlAttribution {
    bottom: 10px;
    left: 10px;
}

.city-map-legend {
    width: 200px;

    position: absolute;
    right:10px; 
    bottom:10px; 

    border-style: solid;
    border-width: medium;

    z-index: 10000;

    background-color: white;
}

.city-map-legend ul {
    list-style-type: none;
    margin-bottom: 0;
}

.city-map-legend ul lh {
    padding: 0.5em;
    font-weight: bold;
}

.city-map-legend ul li {
    margin-left: 0;
    padding: 0.5em;
}
